// Colors

$primary-background-color: #272125;
$primary-input-background-color: #524d51;
$primary-button-background-color: #e74c3c;
$primary-button-background-color-hover: #f6796b;

// Breackpoints

$mobile: 480px;
